{{#each this}}
<div class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <div class="info-item__link">
        <b>Likes </b>
       <p>{{likes}}</p>
       </div>

    </p>
    <p class="info-item">
     <div class="info-item__link"> 
       <b>Views  </b>
      <p>{{views}}</p>
      </div>
    </p>
    <p class="info-item">
    <div class="info-item__link"> 
       <b>Comments  </b>
      <p>{{comments}}</p>
      </div>
    </p>
    <p class="info-item">
     <div class="info-item__link"> 
       <b>Downloads </b>
      <p>{{downloads}}</p>
      </div>
    </p>
  </div>
</div>
{{/each}}